<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trying ejs </title>
</head>
<body>
    <h1>home page</h1>
    <!-- EJS OUTPUT TAG -->
    <h2> <%= 1 +2 + 3 %>     </h2>
    <h2> <%= "APNACOLLEGE".toLowerCase() %> </h2>
    <h2> <%= ["chal","na","aave"][0] %>     </h2>
</body>
</html>